*{
  box-sizing: border-box;
  margin: 0 auto;
}
.container img{
 width: 100px;
 height: 100px;
 position: relative;
 left: 28%;
}
.container{
  display: flex;
  position: relative;
  top: 100px;
  gap: 90px;
  margin: 12px;
  flex-wrap: wrap;
  margin: 150px;
  justify-content: space-between;
}
.item{
  padding: 10px;
  width: 250px;
  height: 250px;
  border: 3px solid red;
  border-radius: 18px;
  background-color: rgb(86, 176, 255);
  box-shadow: 5px 5px;
}
section a{
  position: relative;
  top: 40px;
  left: 40%;
  border: 1px solid orange;
  background: palegoldenrod;
  padding: 2%;
}
section a:hover{
  background-color: palegreen;
}
.container h2{
  position: relative;
  left: 25%;
  top: 15px;
}
section h1{
  display: inline-block;
  position: relative;
  font-size: 2.5rem;
  top: 150px;
  left: 2%;
  padding: 20px;
  border: 3px ridge rgb(174, 235, 255);
  background-color: aqua;
}

.item:hover{
  background-color: rgb(254, 218, 224);
}